// Widget
.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget__message {
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 0.3rem solid lighten($light-blue, 10%);
}

// Widget Header
.widget-header {
    background-color: $darkest-blue;
    color: $light-purple;
    display: flex;
    justify-content: space-between;
    padding: $m-size;

}

.widget-header__title {
    margin: 0;
}
