// Colours
$dark-blue: #161827;
$light-purple: #A6B1E1;
$mid-blue: #252941;
$dark-purple: #5F44DA;
$off-white: #D1CBF6;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;