// Colours
$dark-blue: #07080D;
$darkest-blue: #0F111A;
$mid-blue: #161927;
$light-blue: #343C5B;
$light-purple: #A6B1E1;
$dark-purple: #5F44DA;
$off-white: #939BC8;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;